

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MI app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" *ngFor="let page of pages">
      <li class="nav-item active">
        <a class="nav-link" routerLink='{{page.url}}'>{{page.nombre}} <span class="sr-only">(current)</span></a>
      </li>
      </ul>
  </div>
</nav>
<br>
<br>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
